.completionBar {
    width: 100%;
    height: 2em;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    color: black;
}

.empty.completionFill {
    background-color: transparent;
    /* transition: background-color 1s; */
}

.completionFill {
    background-color: #54b4d1;
}

.completionFill.overCompletionFill {
    background-color: #5a9e5c;
    /* transition: background-color 1s; */
}

.completionFill, .overCompletionFill {
    height: 100%;
    transition: width 0.5s ease-in-out;
    transition: background-color 1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}