.completionBar {
    @apply w-full h-[2em] bg-[#f0f0f0] rounded-[10px] overflow-hidden text-[black];
}

.empty.completionFill {
    background-color: transparent;
}

.completionFill {
    background-color: #54b4d1;
}

.completionFill.overCompletionFill {
    background-color: #5a9e5c;
}

.completionFill, .overCompletionFill {
    @apply h-full text-center flex items-center justify-center;
    transition: width 0.5s ease-in-out, background-color 1s;
}