.base {
    @apply relative overflow-visible flex items-center gap-[10px];
}

.completionBar {
    @apply h-[2em] bg-[#f0f0f0] rounded-[10px] overflow-hidden relative flex items-center min-w-[100px] w-[4vw];
}

.completionFill {
    @apply h-full text-center flex items-center justify-between;
}

.bgc1 {
    background-color: #e7d257;
}

.bgc2 {
    background-color: #e9a751;
}

.bgc3 {
    background-color: #e7702b;
}

.bgc4 {
    background-color: #e63d31;
}

.bgc5 {
    background-color: #b12b36;
}