.base {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    gap: 10px;
}

.completionBar {
    height: 2em;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100px;
    width: 15vw;
}

.completionFill {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgc1 {
    background-color: #e7d257;
}

.bgc2 {
    background-color: #e9a751;
}

.bgc3 {
    background-color: #e7702b;
}

.bgc4 {
    background-color: #e63d31;
}

.bgc5 {
    background-color: #b12b36;
}