.completionBar {
    height: 2em;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100px;
    width: 15vw;
}

.completionFill {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7c7c7c;
}

.easy {
    position: absolute;
    /* top: -20px; */
    left: 5px;
    color: black;
}

.hard {
    position: absolute;
    /* top: -20px; */
    /* left: 50%; */
    right: 5px;
    color: black;
}