/* names here are locally scoped */

.habit {
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid #ccc;
}

.button, .edit {
    margin: 10px;
    padding: 5px 10px;
    background-color: #3c6ba0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .incomplete {
    border-color: #FFD700;
}
.complete {
    border-color: #4CAF50;
}
.surpassed {
    border-color: #006eff;
} */
