/* names here are locally scoped */

.habit {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 30px 20px;
    background-color: var(--background-3);
    margin: 2em 0;
    position: relative;
}

.progressItems, .statusItems {
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: center;
}

.statusItems {
    align-items: end;
    display: flex;
}

.nameAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.button {
    min-width: 109px;
}

.edit, .button {
    margin: 10px;
}

.frequencyAndEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.habitName {
    position: relative;
    padding: 0.5em 0em;
}

.description {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s, visibility 0.1s;
    position: absolute;
    background-color: var(--background-2);
    color: var(--foreground);
    padding: 1em;
    top: 0;
    transform: translateY(-90%);
    left: 1em;
    right: 1em;
    width: fit-content;
}

.arrow {
    font-size: 0.8em;
    opacity: 0.5;
}

.habit:has(.habitName:hover) .description {
    visibility: visible;
    opacity: 1;
}

.habitName:hover .arrow {
    opacity: 1;
}