.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
    /* background-color: var(--background-2); */
    border-radius: 10px;
    width: fit-content;
}

.current-user {
    font-size: 0.9em;
    color: var(--foreground);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.trackerTitle {
    margin: 0;
}

.homeButton {
    width: 3em;
}
